@use "../../abstracts/colors";

.avatarWrapper{
    height: 100%;
    width: 100%;
    grid-column-start: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.avatar{
    width: 10rem;
    height: 10rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background: #E5E0FF;

    &__head{
        width: 40%;
        height: 40%;
        border-radius: 50%;
        top: 50%;
        background:map-get(colors.$baseColors, "backgroundDark");        ;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        transition: 0.8s all;
    }

    &__body{
        width: 70%;
        height: 60%;
        border-radius: 50%;
        background:map-get(colors.$baseColors, "backgroundDark");        ;
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 100%;
    }

    &:hover &__head{
        transform: translate(-50%, -50%) scale(1.2);
    }
}